<h1>Edit profile page </h1>

<%= form_for(@user) do |f| %>
    <%= f.label "First Name"%>
    <%= f.text_field :first_name %><br>

    <%= f.label "Last Name"%>
    <%= f.text_field :last_name %><br>

    <%= f.label "Email"%>
    <%= f.text_field :email %><br>

    <%= f.submit "Update details"%>
<% end %>