<h1>Sign up page</h1>

<%= form_for(@user, url: {action: "create"}, method: :post) do |f| %>
  First name: <%= f.text_field :first_name %><br>
  Last name: <%= f.text_field :last_name %><br>
  Email: <%= f.text_field :email %><br><br>

  Password: <%= f.password_field :password %><br>
  Password Confirmation: <%= f.password_field :password_confirmation %><br>

  <%= f.submit "Create my account" %>
<% end %>